# Quantified Self
## 1. Data Loading  
For my quantified self projest I will be analyzing my Google Maps data in order to spot differences in activity level and mode of transport between the time that I was studying abroad in Madrid, Spain, and the time that I was at home in Spokane.  
In this Jupyter Notebook, I will clean my Google Maps Semantic Location Data and send it to a csv file that will have meaningful column headers and only contains the information we want. First, lets get the data that we want from JSON format to a 2D list. (Later on I will use this 2D list to create a Pandas Dataframe).

* Study abroad dates: jan 21 2022 - may 5 2022 (excluding days at the airport)
* Spokane sample (summer): May 22 2022 - Aug 14 2022
* Spokane sample (school year): 
* Spokane pandemic:

In [1]:
#study abroad
import pandas as pd

jan_aug_df = pd.DataFrame()

months = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST"]
for item in months:
    jan_aug_df = pd.concat([jan_aug_df, pd.read_json("../Semantic Location History/2022/2022_" + item + ".json")])

#send to new json file
jan_aug_df.to_csv("jan_to_aug.csv")

## 2. Clean Data
Now that the data for the months we need is all in one spot, we can grab chunks that we need more easily.

In [2]:
print(type(jan_aug_df["timelineObjects"].iloc[0]))

# this is json data (dictionary)

<class 'dict'>

In [3]:
# need to grab dates from 2022-01-21 to 2022-01-31, 2022-02-xx, 2022-03-xx, 2022-04-xx, and through 2022-05-05


print(jan_aug_df.size)
# for i in range(jan_aug_df.size):
#     for key, val in jan_aug_df["timelineObjects"].iloc[i].items():
#         # get only activity segments (not place visits)
#         if(key == "activitySegment"):
#             #print(val["duration"]["startTimestamp"])
#             if "2022-01-21" in val["duration"]["startTimestamp"]:
#                 print(i)
#                 print(val["duration"]["startTimestamp"])
#             elif "2022-05-05" in val["duration"]["startTimestamp"]:
#                 print(i)
#                 print(val["duration"]["startTimestamp"])
# start index : 118
# end index : 1333

start = 118
end = 1333

#timestamps = []
study_abroad_lst = []
for i in range(start, end):
    for key, val in jan_aug_df["timelineObjects"].iloc[i].items():
        # get only activity segments (not place visits)
        if(key == "activitySegment"):
            #timestamps.append(val["duration"]["startTimestamp"])
            #print(val["activityType"])
            #print(val["confidence"])
            #print(val["distance"])
            study_abroad_lst.append([val["duration"]["startTimestamp"], val["duration"]["endTimestamp"], val["startLocation"]["latitudeE7"], val["startLocation"]["longitudeE7"], val["endLocation"]["latitudeE7"], val["endLocation"]["longitudeE7"], val["distance"], val["activityType"], val["confidence"]])

study_abroad_df = pd.DataFrame(study_abroad_lst, columns=["Start Timestamp", "End Timestamp", "Start Latitude", "Start Longitude", "End Latitude", "End Longitude", "Distance", "Activity", "Confidence"])

study_abroad_df

2357

,Start Timestamp,End Timestamp,Start Latitude,Start Longitude,End Latitude,End Longitude,Distance,Activity,Confidence
0,2022-01-21T09:13:23Z,2022-01-21T09:20:45.491Z,404072887,-37037391,404118401,-37052917,634,WALKING,HIGH
1,2022-01-21T10:58:40.449Z,2022-01-21T11:23:11.776Z,404124269,-37045765,404083941,-36930145,1289,WALKING,HIGH
2,2022-01-21T11:31:20.770Z,2022-01-21T12:22:11.361Z,404095404,-36928230,404181546,-37046289,2670,WALKING,HIGH
3,2022-01-21T12:29:27.539Z,2022-01-21T12:40:28.366Z,404167013,-37044784,404185364,-37098021,607,WALKING,HIGH
4,2022-01-21T14:40:28.840Z,2022-01-21T14:48:36.275Z,404163340,-37087356,404161470,-37032274,499,WALKING,HIGH
...,...,...,...,...,...,...,...,...,...
637,2022-05-05T14:32:53.709Z,2022-05-05T14:34:57.181Z,404182319,-37095123,404202932,-37059859,376,IN_SUBWAY,HIGH
638,2022-05-05T14:40:04.529Z,2022-05-05T14:51:58.837Z,404203902,-37063509,404069457,-37037075,2149,IN_SUBWAY,MEDIUM
639,2022-05-05T17:24:51.042Z,2022-05-05T17:38:07.070Z,404066533,-37035654,404047651,-37023939,610,WALKING,LOW
640,2022-05-05T17:38:07.070Z,2022-05-05T17:52:17.360Z,404047651,-37023939,404262112,-37011621,2438,IN_SUBWAY,LOW
641,2022-05-05T20:37:00.867Z,2022-05-05T20:49:40.788Z,404261270,-37012619,404050892,-37019983,2489,IN_SUBWAY,MEDIUM

In [4]:
# get summer data- 2022-05-22 through 2022-08-14
# for i in range(jan_aug_df.size):
#     for key, val in jan_aug_df["timelineObjects"].iloc[i].items():
#         # get only activity segments (not place visits)
#         if(key == "activitySegment"):
#             #print(val["duration"]["startTimestamp"])
#             if "2022-05-22" in val["duration"]["startTimestamp"]:
#                 print(i)
#                 print(val["duration"]["startTimestamp"])
#             elif "2022-08-14" in val["duration"]["startTimestamp"]:
#                 print(i)
#                 print(val["duration"]["startTimestamp"])
start = 1491
end = 2216

summer_lst = []
for i in range(start, end):
    for key, val in jan_aug_df["timelineObjects"].iloc[i].items():
        # get only activity segments (not place visits)
        if(key == "activitySegment"):
            #timestamps.append(val["duration"]["startTimestamp"])
            #print(val["activityType"])
            #print(val["confidence"])
            #print(val["distance"])
            summer_lst.append([val["duration"]["startTimestamp"], val["duration"]["endTimestamp"], val["startLocation"]["latitudeE7"], val["startLocation"]["longitudeE7"], val["endLocation"]["latitudeE7"], val["endLocation"]["longitudeE7"], val["distance"], val["activityType"], val["confidence"]])


summer_df = pd.DataFrame(summer_lst, columns=["Start Timestamp", "End Timestamp", "Start Latitude", "Start Longitude", "End Latitude", "End Longitude", "Distance", "Activity", "Confidence"])

summer_df

,Start Timestamp,End Timestamp,Start Latitude,Start Longitude,End Latitude,End Longitude,Distance,Activity,Confidence
0,2022-05-22T00:26:53.487Z,2022-05-22T01:04:16.530Z,477019914,-1174127539,478158715,-1173468857,16009,IN_PASSENGER_VEHICLE,HIGH
1,2022-05-22T21:48:14Z,2022-05-22T22:05:39Z,478566574,-1172777957,477719874,-1174023325,19129,IN_PASSENGER_VEHICLE,HIGH
2,2022-05-23T00:27:20Z,2022-05-23T00:47:08.449Z,477731568,-1174029817,478561191,-1172749742,17875,IN_PASSENGER_VEHICLE,HIGH
3,2022-05-23T16:16:00.836Z,2022-05-23T16:58:48.051Z,478561216,-1172749754,476676638,-1174008391,28584,IN_PASSENGER_VEHICLE,HIGH
4,2022-05-23T23:08:05.143Z,2022-05-23T23:44:36.050Z,476684577,-1174024072,478407460,-1173540569,20647,IN_PASSENGER_VEHICLE,HIGH
...,...,...,...,...,...,...,...,...,...
358,2022-08-13T01:38:03.467Z,2022-08-13T02:52:07.291Z,476747573,-1173909960,478560977,-1172754508,26251,IN_PASSENGER_VEHICLE,HIGH
359,2022-08-13T03:20:43.385Z,2022-08-13T04:13:20.389Z,478562593,-1172756483,476747751,-1173905676,22070,IN_PASSENGER_VEHICLE,HIGH
360,2022-08-14T01:08:02.334Z,2022-08-14T01:24:07Z,476748260,-1173907931,476438752,-1174103693,5487,IN_PASSENGER_VEHICLE,HIGH
361,2022-08-14T03:29:46Z,2022-08-14T03:41:20Z,476451787,-1174110853,476748346,-1173911600,4849,IN_PASSENGER_VEHICLE,HIGH
362,2022-08-14T21:45:44Z,2022-08-14T22:01:40Z,476747959,-1173912005,476572662,-1174446536,6845,IN_PASSENGER_VEHICLE,HIGH